.t-font {
    font-family: 'Gochi Hand', cursive;
}

.p-font {
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
}

.h-col {
    background-color: #FFA500;
}

.logo {
    margin-top: 2em;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }