@media only screen and (max-device-width: 768px) {
    .show-mobile {
      display: block;
      width: 100vh
    }
    .hide-mobile {
      display: none;
    }
  }

@media only screen and (min-device-width: 769px) {
    .show-mobile {
      display: none;
    }
    .hide-mobile {
      display: block;
      height: 100vh;
    }
  }

  body {
    background-color: rgba(255, 217, 0, 0.048);
}

.map {
  height: 50em;  /* The height is 400 pixels */
  width: 100%; 
  background-color: aqua;
}