
body, main {
  background-color:#F36415;
}

h1 {
  margin-left: 10px;
}

h2 {
  font-family: 'Lobster', cursive;
  margin-left: 120px;

}
.big {
  font-size: 120px;
  font-family: 'Lobster', cursive;
}
.responsive-img {
  margin: 30px;
}

.slogan {
  margin-top: 20px;
}
