
.container {
    
}

.title {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #F94049;
    text-align: center;
    text-shadow: -1px 2px 2px black;
}


/*
color: #AC1D24 #FFFB5B #F94049 #1F8AC6
/*
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Oleo Script Swash Caps', cursive;