html,
body,
.container-fluid{
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: right;
    font-size: 1em;
    padding: .5em;
}